@import url("https://fonts.googleapis.com/css2?family=poppins:wght@200&display=swap");
:root {
  --color-primary: #183593;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f7f3f3;
  --Grey-light-4: #ccc;
  --color-white:#fff;
  --border: 1px solid var(--Grey-light-2);
  --shadow-light:0 2rem 5rem rgba(0,0,0,.06);
  --shadow-dark:0 4rem 5rem rgba(0,0,0,.1); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*  @media only screen and (max-width: $bp-large){
        font-size: 50%;
    }*/ }

body {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

li, a {
  list-style: none;
  text-decoration: none;
  color: var(--color-white); }

.header {
  min-height: 4rem; }

main {
  font-size: 1.4rem;
  background-color: var(--color-Grey-light-1);
  padding: 3rem; }

.testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4rem; }

footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 5rem 10rem; }

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem; }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  font-size: 1.4rem; }
  .navigation__item {
    list-style: none;
    display: inline-block;
    color: var(--color-white); }
  .navigation__item:not(:first-child) {
    margin-left: 1rem; }
  .navigation__button {
    display: flex;
    justify-content: space-between; }
  .navigation__button-item {
    padding: 1rem 4rem;
    background-color: var(--color-white);
    color: black;
    border: none;
    margin-right: 4rem;
    margin-top: .7rem;
    margin-bottom: .7rem;
    border-radius: 2px;
    cursor: pointer; }

.info {
  display: flex;
  justify-content: space-between; }
  .info__box {
    width: 50rem; }
  .info__message {
    padding: 3rem; }
    .info__message-header {
      font-size: 5.2rem;
      font-weight: bold; }
    .info__message-paragraph {
      font-size: 1.8rem;
      margin-top: 1rem; }
  .info__button {
    margin-top: 3.5rem; }
    .info__button-1 {
      padding: 1.5rem 4rem;
      border: none;
      background-color: var(--Grey-light-4);
      border-radius: 4px;
      text-transform: capitalize;
      cursor: pointer; }
    .info__button-2 {
      padding: 1.5rem 4.5rem;
      border: none;
      background-color: var(--color-primary);
      border-radius: 4px;
      margin-left: -5px;
      color: var(--color-white);
      text-transform: capitalize;
      cursor: pointer; }
  .info__image {
    margin-top: 2rem;
    margin-right: 7rem; }

.logo {
  margin: 3rem;
  margin-left: -5rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 7rem; }
  .logo-img {
    width: 15rem; }

.trading-section__content {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem;
  margin-left: 10rem; }

.trading-section__box {
  border: 1px solid var(--Grey-light-4);
  padding: 1rem;
  width: 35rem;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: var(--shadow-dark); }
  .trading-section__box-heading {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1rem; }

.start-trading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .start-trading__box {
    border: 1px solid var(--Grey-light-4);
    width: 80rem;
    border-radius: 5px;
    box-shadow: var(--shadow-dark);
    padding: 3rem 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem; }

.testimonails {
  border: 1px solid var(--Grey-light-4);
  border-radius: 5px;
  margin: 2rem 10rem;
  width: 35rem;
  padding: 3rem;
  padding-right: 5rem;
  position: relative; }
  .testimonails__img {
    width: 5rem;
    position: absolute;
    top: -3rem;
    left: 1rem; }

.testimonails:last-child {
  border: none !important;
  padding: 0; }

.footer__list {
  margin-top: 2rem; }

.footer__list-item:first-child {
  margin-bottom: 1.5rem; }

.f-socials {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 3rem; }
  .f-socials__icons {
    display: flex;
    justify-content: space-between; }
  .f-socials__icon:not(:first-child) {
    margin-left: 2.3rem;
    width: 2rem; }

.create {
  display: flex;
  flex-direction: column;
  align-items: center; }

.create__p {
  font-size: 1.6rem;
  margin: 4rem 0;
  font-weight: 500; }

.arrow {
  width: 3rem;
  display: inline-block; }

.p {
  font-size: 1.7rem;
  display: flex;
  align-items: center; }

.pay {
  margin-top: 4rem;
  font-size: 1.6rem;
  font-weight: 600; }

.buynsell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 600; }

.coin-input {
  padding: 1rem 4rem;
  background-color: var(--color-Grey-light-2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between; }

.coin-logo {
  width: 20%; }

.f-head {
  font-size: 1.8rem;
  font-weight: 400; }

.footer-head {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px; }

.page-heading {
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  font-size: 4rem; }
